@import url("https://webfontbox.github.io/monoplex/monoplex.css");
@import "tailwindcss";

/* 이 색상이 맞나...
:root {
  --color-mint-10: hsl(150 25% 67%);
  --color-mint-20: hsl(152 17% 78%);
  --color-mint-30: hsl(117 30% 88%);
  --color-mint-40: hsl(60 23% 94%);
  --color-mint-50: hsl(60 7% 97%);
  --color-mint-60: hsl(84 100% 99%);
  --color-brown-10: hsl(44 52% 14%);
  --color-orange-10: hsl(14 65% 60%);
}
*/

:root {
  --color-mint-10: hsl(130 15% 67%);
  --color-mint-20: hsl(152 17% 78%);
  --color-mint-30: hsl(117 30% 88%);
  --color-mint-40: hsl(84 16% 87%);
  --color-mint-50: hsl(60 23% 94%);
  --color-mint-60: hsl(60 7% 97%);
  --color-brown-10: hsl(44 52% 14%);
  --color-orange-10: hsl(28 41% 72%);
}

@theme {
  --color-mint: var(--color-mint-10);
  --color-mint-2: var(--color-mint-20);
  --color-mint-3: var(--color-mint-30);
  --color-mint-4: var(--color-mint-40);
  --color-mint-5: var(--color-mint-50);
  --color-mint-6: var(--color-mint-60);
  --color-orange: var(--color-orange-10);
  --color-brown: var(--color-brown-10);

  --color-label: var(--color-brown-10);
  --color-label-invert: var(--color-mint-50);

  --color-fill-invert: var(--color-mint-50);
  --color-fill: var(--color-brown-10);

  --color-line: var(--color-brown-10);

  --font-mono: "Monoplex KR Wide Nerd", ui-monospace, SFMono-Regular, Menlo,
    Consolas, "Liberation Mono", monospace;

  --breakpoint-mobile: 440px;
  --breakpoint-tablet: 701px;
  --breakpoint-desktop: 1440px;

  --font-weight-small: 350;
  --font-weight-regular: 400;
  --font-weight-medium: 450;
  --font-weight-strong: 500;
  --font-weight-heavy: 550;

  --leading-small: 1.4;
  --leading-regular: 1.45;
  --leading-large: 1.8;

  --letter-spacing-tight: -1.5;
  --letter-spacing-regular: 10.075;
}
/*기본 폰트는 font-mono로 적용, font-mono 안 써도 됨*/
