@import url("https://webfontbox.github.io/monoplex/monoplex.css");

@layer base {
  :root {
    --font-sans: "Monoplex KR", system-ui, sans-serif;
    --font-suit: "SUIT Variable", system-ui, sans-serif;
  }
  body {
    background-color: var(--color-mint-6);
  }
}

@layer utilities {
  .font-suit {
    font-family: var(--font-suit);
  }
}
